#header5_2 {
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: 5px;
    line-height: 7vh;
    color: #cb9e61;
    font-family: Baskerville, sans-serif;
    text-align: center;
    padding: 4vh 0 3vh 0;
}