.div_left_section9{
    width: 30%;
}
.div_left_section9 ul{
    display: flex;
    flex-direction: column;
}

.div_left_section9 ul a {
    margin: 5px;
    color: white;
    text-decoration: none;
    font-size: 22px;
}

.div_left_section9 ul a:hover{
    color: black;
}